In [1]:
print("Hello")

Hello

In [63]:
import numpy
import pandas
df = pandas.read_csv('order_20161101.csv',encoding="utf-8")
df.describe()

,times,timee,sl,ss,el,es
count,2.094230e+05,2.094230e+05,209423.000000,209423.000000,209423.000000,209423.000000
mean,1.477981e+09,1.477983e+09,104.071571,30.673740,104.071380,30.673228
std,1.930757e+04,1.933026e+04,0.042039,0.039495,0.044456,0.041574
min,1.477930e+09,1.477930e+09,103.599800,30.321640,103.256350,29.517230
25%,1.477968e+09,1.477969e+09,104.049650,30.654720,104.049670,30.654050
50%,1.477982e+09,1.477984e+09,104.073059,30.670736,104.073184,30.670490
75%,1.477997e+09,1.477998e+09,104.096500,30.693200,104.096610,30.693380
max,1.478016e+09,1.478031e+09,104.483069,31.014370,104.704311,31.339110

In [77]:
data = df.loc[:,['sl','ss']]
data2= df.loc[:, ['el','es']]
data2.rename(columns={'el':'sl', 'es':'ss'}, inplace = True)
data = data2.append(data, ignore_index = False)
data.describe()

                  sl             ss
count  418846.000000  418846.000000
mean      104.071476      30.673484
std         0.043264       0.040548
min       103.256350      29.517230
25%       104.049660      30.654498
50%       104.073180      30.670630
75%       104.096560      30.693260
max       104.704311      31.339110

In [104]:
def sqsq (x, y):
    return numpy.sqrt(x*x + y*y)
def dist (x1, x2, y1, y2):
    return sqsq(x1-y1,x2-y2)

1.4142135623730951

In [130]:
print(len(vs))
vs2 = vs
print(len(vs2))

935
935

In [131]:
vs = []
for index, row in data.iterrows():
    flag = True 
    for v in vs:
        if dist(row['sl'], row['ss'], v[0], v[1]) < 0.001 :
            flag = False
            break
    if flag:
        vs.append((row['sl'],row['ss']))

In [0]:
print(len(vs))

In [0]:
import csv

with open("output.csv","wb") as f:
 writer = csv.writer(f)
 writer.writerows(vs2)