In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab

In [11]:
import math

event = pd.read_csv('/Users/zhehaoyu/Desktop/MCM/D题/2020_Problem_D_DATA/fullevents.csv')
ev = event.sort_values(['MatchID','EventSubType','TeamID'])
ev = event[(event['EventType']=='Pass')& (event['TeamID']=='Huskies')] # & math.isnan(event['DestinationPlayerID'])]
ev = ev.sort_values(['MatchID','OriginPlayerID'])
# fault = ev[ev['DestinationPlayerID'].isnull()]
# fgroup = fault.groupby(['MatchID','OriginPlayerID']).count()
# fnumber = fgroup['TeamID']
# fnumber
pnumber = ev.groupby(['MatchID','OriginPlayerID']).count()
Hpass_data = pnumber[['TeamID','DestinationPlayerID']]
Hpass_data.columns = ['total','success']
Hpass_data['rate'] = Hpass_data['success']/Hpass_data['total']
Hpass_data_in_each_game = Hpass_data.groupby(['MatchID']).sum()
Hpass_data_in_each_game['rate'] = Hpass_data_in_each_game['success']/Hpass_data_in_each_game['total']

/Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
Hpass_data_in_each_game.describe()

            total     success       rate
count   38.000000   38.000000  38.000000
mean   369.552632  274.605263   0.731388
std     80.936978   75.925119   0.076760
min    159.000000   80.000000   0.503145
25%    324.250000  236.500000   0.689195
50%    380.500000  290.000000   0.753710
75%    422.750000  327.750000   0.781178
max    501.000000  384.000000   0.842233

In [17]:
ev2 = event[(event['EventType']=='Pass')& (event['TeamID']!='Huskies')] # & math.isnan(event['DestinationPlayerID'])]
ev2 = ev2.sort_values(['MatchID','OriginPlayerID'])
# fault = ev[ev['DestinationPlayerID'].isnull()]
# fgroup = fault.groupby(['MatchID','OriginPlayerID']).count()
# fnumber = fgroup['TeamID']
# fnumber
Opponent_pnumber = ev2.groupby(['MatchID','OriginPlayerID']).count()
Opass_data = Opponent_pnumber[['TeamID','DestinationPlayerID']]
Opass_data.columns = ['total','success']
Opass_data['rate'] = Opass_data['success']/Opass_data['total']
Opass_data_in_each_game = Opass_data.groupby(['MatchID']).sum()
Opass_data_in_each_game['rate'] = Opass_data_in_each_game['success']/Opass_data_in_each_game['total']

/Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [19]:
Opass_data_in_each_game = Opass_data_in_each_game.rename(columns={'total':'Ototal', 'success':'Osuccess', 'rate':'Orate'})
Opass_data_in_each_game

         Ototal  Osuccess     Orate
MatchID
1           267       197  0.737828
2           521       416  0.798464
3           563       471  0.836590
4           455       345  0.758242
5           468       373  0.797009
6           397       294  0.740554
7           281       179  0.637011
8           379       277  0.730871
9           603       501  0.830846
10          298       214  0.718121
11          442       317  0.717195
12          510       426  0.835294
13          657       504  0.767123
14          486       347  0.713992
15          378       224  0.592593
16          728       605  0.831044
17          451       362  0.802661
18          390       302  0.774359
19          678       498  0.734513
20          364       230  0.631868
21          384       204  0.531250
22          562       476  0.846975
23          549       473  0.861566
24          317       186  0.586751
25          431       273  0.633411
26          523       423  0.808795
27          317       220  0.694006
28          392       260  0.663265
29          395       255  0.645570
30          281       172  0.612100
31          301       215  0.714286
32          940       877  0.932979
33          543       446  0.821363
34          430       293  0.681395
35          360       240  0.666667
36          452       298  0.659292
37          331       246  0.743202
38          448       355  0.792411

In [22]:
pass_data_in_each_game=pd.concat([Hpass_data_in_each_game,Opass_data_in_each_game],axis=1)
pass_data_in_each_game.to_csv('pass_data_in_each_game.csv',index=True,sep=',')

##  shoot

In [37]:
import math

event = pd.read_csv('/Users/zhehaoyu/Desktop/MCM/D题/2020_Problem_D_DATA/fullevents.csv')

shot_num = event[event['EventType']=='Shot']
shot_cnt = shot_num.groupby(['MatchID', 'TeamID']).count()['MatchPeriod']
shot_cnt
shot_cnt.to_csv('shot_number_in_each_game.csv',index=True,sep=',')

/Users/zhehaoyu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.